<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Locale\Config">
        <plugin name="EcommPro_CustomCurrency" type="EcommPro\CustomCurrency\Plugin\LocaleConfigPlugin" sortOrder="1" />
    </type>

    <type name="EcommPro\CustomCurrency\Model\Config">
        <arguments>
            <argument name="currencies" xsi:type="array">
                <item name="XMPL" xsi:type="array">
                    <item name="code" xsi:type="string">XMPL</item>
                    <item name="singular" xsi:type="string">Examplium</item>
                    <item name="plural" xsi:type="string">Exampliums</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>