<?xml version="1.0"?>
<!--
/**
 * menu
 * @copyright Copyright © 2017 Ecomm.pro. All rights reserved.
 * @author    dev@ecomm.pro
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="EcommPro_CustomCurrency::currencies" title="EcommPro Custom Currency" module="EcommPro_CustomCurrency" sortOrder="90" parent="Magento_CurrencySymbol::system_currency" action="ecommpro_customcurrency/currency" resource="EcommPro_CustomCurrency::currencies"/>
    </menu>
</config>
